.product {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  @media (max-width: 1600px) {
    grid-row: 1 / 2;
  }

  @media (max-width: 1080px) {
    display: grid;
  }
}

.product__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 31px;
  position: relative;

  &::before {
    content: "Scroll down";
    position: absolute;
    @include text-style ("Open Sans", 10px, 14px, normal);
    color: inherit;
    transform: rotate(270deg);
    top: 580px;
    left: -20px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/arrow-down.svg);
    width: 8px;
    height: 35px;
    top: 580px;
    left: 24px;
  }

  @media (max-width: 1600px) {
    grid-template-columns: 1fr;

    &::after,
    &::before {
      display: none;
    }
  }

  @media (max-width: 1080px) {
    justify-self: center;
  }

  @media (max-width: 768px) {
    grid-template-rows: min-content 1fr;
    row-gap: 25px;
  }

  @media (max-width: 745px) {
    padding: 0 20px;
  }

  @media (max-width: 414px) {
    row-gap: 0;
  }
}

.product__text-inner {
  padding-top: 203px;
  max-width: 360px;

  @media (max-width: 1600px) {
    padding: 0;
  }
}

.product__title {
  @include text-style();
  margin: 0 0 20px;

  @media (max-width: 768px) {
    letter-spacing: -1px;
  }

  @media (max-width: 414px) {
    margin-bottom: 10px;
  }

  @media (max-width: 320px) {
    font-size: 24px;
    line-height: 33px;
  }
}

.product__text {
  @include text-style ("Open Sans", 18px, 25px, 300);
  margin: 0;

  @media (max-width: 768px) {
    letter-spacing: 0.02em;
  }

  @media (max-width: 320px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.product__img {
  max-width: 748px;

  & img {
    height: 100%;
  }

  @media (max-width: 1600px) {
    & img {
      width: 100%;
    }
  }

  /*@media (max-width: 1080px) {
    max-width: 344px;
  }*/
}
