$emerald: #31456a;
$dark-almost: #6c6c6c;
$gray: #6e7492;
$alabaster: #ebf3fa;
$marble: #e6eff9;
$alabaster-marble: #e4f0fa;
$marble-alabaster: #ebf3fa;
$marble-white: #e5effa;
$peachy-strong-salmon: #ff6b59;
$coppery-hints: #d35646;
$steel: #c8c6c5;
$cinnabar: #dd4835;
$white: #ffffff;
$alabaster-strong-shades: #f2f9ff;
$coppery-strong-hints: #e15c4c;
$peachy-watermelon-notes: #fd6a58;
$marble-strong-shades: #ebf2f9;
$nickel: #c6d7eb;
$marble-platinum: #dbe6f2;
$denim: #8f9fae;
$gray-022: #8b8b8b;
$almost: #ff8677;
$nickel: #d2d2d2;
$saffron: #b62f1f;
$peachy: #ef7264;
$blood: #980101;
$arch-linux: #333333;

// Viewports

$tablet-width: 1080px;
$mobail-width: 768px;
